html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


header{
    height: 100px;
    width: 1440px;
    background-color: #2B4074;
}
.Di-gi{
    width: 100px;
    height: 65.73px;
    padding-top: 17px;
    padding-left:153px;
}
.menu{
    color: #2B4074;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    margin-top: -50px;
    margin-left: 1265px;
    padding-top: 17px;
    padding-left:14px;
    width: 26px;
    height: 27px;
    background-color: #FFFFFF;
    border-radius: 3px;
}

.intro{
    background-image:url("img/bg-img.jpg");
    width: 1440px;
    height: 668px;
}
.Rectangle{
    position: relative;
    width: 1440px;
    height: 668px;
    background-color: #21212180;
}
.title{
    font-family: Roboto Condensed;
    width: 514px;
    height: 192px;
    position: absolute;
    z-index: 5;
    top: 107px;
    left: 462px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    horiz-align: center;
    vertical-align: bottom;
    text-align: center;
}
.text {
    font-family: Roboto Condensed;
    width: 886px;
    height: 60px;
    position: absolute;
    z-index: 5;
    top: 317px;
    left: 277px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0;
    horiz-align: center;
    vertical-align: bottom;
    text-align: center;
}
.read-more{
    width:200px;
    height: 32px;
    position: absolute;
    top: 405px;
    left: 620px;
    border-radius: 3px;
    background-color: #2B4074;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    padding-top:18px;

}
.arrow{
    position: absolute;
    top: 264px;
    left: 1370px;
}
.bg1{
    width: 70px;
    height: 53px;
    font-size: 35px;
    font-weight: bold;
    padding-top: 17px;
    color: #ffffff;
    background-color: #2B4074;
    text-align: center;
}
.bg2{
    width: 70px;
    height:53px;
    font-size: 35px;
    font-weight: bold;
    padding-top: 17px;
    color: #929292;
    background-color: #F9F6E5;
    text-align: center;
}
.ovals{
    display:flex;
    position: absolute;
    top:578px;
    left: 695px;
    flex-direction:row;
}
.oval1{
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    display:flex;
}
.oval2{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-left: 20px;
    display:flex;
}
.oval3{
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 20px;
    display:flex;
}
.promo{
    position: absolute;
    top: 768px;
    left: 0px;
}
.bg{
    width: 1440px;
    height: 192px;
    background-color: #2B4074;
}
.text-promo{
    color: #fff;
    position: absolute;
    top: 57px;
    left: 150px;
}
.text-1{
    width: 557px;
    height: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    vertical-align: bottom;
}
.text-2{
    width: 796px;
    height: 42px;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    vertical-align: bottom;
}
.button{
    width:200px;
    height: 32px;
    position: absolute;
    top: 71px;
    left: 1105px;
    background-color: #F9F6E5;

    font-size:18px;
    padding-top: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #2B4074;
}
.services{
    width:1440px;
    height: 547px;
    position: relative;
    top: 196px;
    left: 62px;
}
.service{
    width:131px;
    height: 56px;
    position: absolute;
    top: 90px;
    left: 62px;
    color: #2B4074;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    vertical-align: bottom;
}
.content{
    width:393px;
    height: 278px;
    position: relative;
    top: 132px;
    left: 62px;
}
.content-text1{
    width: 393px;
    height: 60px;
    position: absolute;
    top: 76.4px;

    color: #4A4A4A;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
}
.content-text2{
    width: 351px;
    height: 68px;
    position: absolute;
    top: 210px;

    color: #797979;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

}
.line{
    width: 98.74px;
    height: 8px;
    position: absolute;
    top: 167px;
    background: #2B4074;
}




.items{
    width:853px;
    height:487px;
    position: absolute;
    top: 79px;
    left: 543px;
}
.service-1{
    width: 94px;
    height: 112px;
    position: absolute;
    top: -0.47px;
    left: 46.79px;
}
.object-1-text{
    width: 93.8px;
    height: 20px;
    position: absolute;
    top: 91.54px;

    color: #4A4A4A;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;
}
.object-1{
    width: 100px;
    height: 110px;
}
.service-2{
    width: 98px;
    height: 112px;
    position: absolute;
    top: -0.47px;
    left: 278.3px;
}
.object-2-text{
    width: 93.8px;
    height: 20px;
    position: absolute;
    top: 91.54px;


    color: #4A4A4A;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;
}
.object-2{
    width: 64px;
    height: 64px;
    position: absolute;
    left: 16.96px;
}

.service-3{
    width: 124px;
    height: 110px;
    position: absolute;
    top: 1.52px;
    left: 494.85px;
}
.object-3-text{
    width: 107px;
    height: 19px;
    position: absolute;
    top: 91.48px;


    color: #4A4A4A;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;
    white-space: nowrap;
}
.object-3 {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 31.15px
}


.service-4{
    width: 129px;
    height: 111px;
    position: absolute;
    top: 1.52px;
    left: 724.37px;
}
.object-4-text{
    width: 100px;
    height: 20px;
    position: absolute;
    top: 91.48px;


    color: #4A4A4A;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;

}
.object-4 {
    width: 64px;
    height: 64px;
}


.service-5{
    width: 198px;
    height: 107px;
    position: absolute;
    top: 275.03px;
    left: 12px;
}
.object-5-text{
    width: 197.59px;
    height: 20px;
    position: absolute;
    top: 86.54px;
    left: 30px;


    color: #4A4A4A;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;

}
.object-5 {
    width: 100px;
    height: 100px;
    position: absolute;
}

.service-6{
    width: 222px;
    height: 260px;
    position: absolute;
    top: 202px;
    left: 210px;
    border: 4px solid #2B4074;
}
.object-6-text{
    width: 96px;
    height: 19px;
    position: absolute;
    top: 104.47px;
    left: 63px;


    color: #4A4A4A;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;
    white-space: nowrap;
}
.object-6-text-2{
    width: 196px;
    height: 48px;
    position: absolute;
    top: 145px;
    left: 13px;


    color: #9B9B9B;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}
.full-View{
    width: 222px;
    height: 24px;
    position: absolute;
    top: 211px;

    color: #2B4074;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
}
.object-6 {
    width:58px;
    height: 64px;
    position: absolute;
    top: 25px;
    left: 82px;
}

.service-7{
    width: 188px;
    height: 118px;
    position: absolute;
    top: 262.1px;
    left: 462.92px;
}
.object-7-text{
    width: 189px;
    height: 39px;
    position: absolute;
    top: 79.9px;
    left: -0.92px;


    color: #4A4A4A;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
}
.object-7 {
    width: 130px;
    height: 100px;
}

.service-8{
    width: 95px;
    height: 124px;
    position: absolute;
    top: 255.13px;
    left: 742.34px;
}
.object-8-text{
    width: 79px;
    height: 20px;
    position: absolute;
    top: 103.87px;
    left: 8.66px;


    color: #4A4A4A;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;
}
.object-8 {
    width: 100px;
    height: 100px;
}
.lines{
    width: 865px;
    height: 547px;
    position: absolute;
    top: 0px;
    left: 515.61px;
}
.line-1{
    width: 865px;
    height: 3px;
    position: absolute;
    top: 270.53px;
    left: 0.99px;
    border: 1px solid #F9F6E5;
}
.line-2{
    width: 2.98px;
    height: 547px;
    position: absolute;
    left: 461.35px;
    border: 1px solid #F9F6E5;
}
.line-3{
    width: 2.98px;
    height: 547px;
    position: absolute;
    left: 231.67px;
    border: 1px solid #F9F6E5;
}
.line-4{
    width: 2.98px;
    height: 547px;
    position: absolute;
    left: -0.49px;
    border: 1px solid #F9F6E5;
}
.line-5{
    width: 2.98px;
    height: 547px;
    position: absolute;
    left: 691.03px;
    border: 1px solid #F9F6E5;
}